/* =========
    RESET
=========*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    /* font: inherit; */
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* FONT */
@font-face {
    font-family: baseWide;
    src: url(fonts/BaseNeueTrial-WideBlack.ttf);
}

@font-face {
    font-family: baseBold;
    src: url(fonts/BaseNeueTrial-Bold.ttf);
}

@font-face {
    font-family: baseRegular;
    src: url(fonts/BaseNeueTrial-Regular.ttf);
}

@font-face {
    font-family: baseBlack;
    src: url(fonts/BaseNeueTrial-Black.ttf);
}

/* ==========
    GLOBAL 
============*/
    .baseWide {
        font-family: baseWide;
    }
    .baseBold {
        font-family: baseBold;
    }
    .baseBlack {
        font-family: baseBlack;
    }
    .baseRegular {
        font-family: baseRegular;
    }
* {
    /* font size */
    --fs-300: .75rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: 4rem;
    --fs-900: 6rem;

    /* outline: 1px solid red; */
}


/* ==========
    MOBILE 
=============*/

/* header */
header {

}

.header-container {
    max-width: 95%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
}

    .menu-btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: var(--fs-600);
    }


/* nav */
nav {
    padding-top: 2rem;
    font-family: baseWide;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: none;
}

.nav-container {
    max-width: 90%;
    margin: 0 auto;
}

.nav-links-div:hover{
    cursor: pointer;
}

.nav-links-div {
    display: flex;
    /* align-items: flex-end; */
    gap: 1rem;
    border-top: 1px solid black;
}
    .nav-number {
        font-size: var(--fs-800);
        text-decoration: underline;
    }
    .nav-link {
        font-size: var(--fs-400);
    }

    a {
        color: black;
    }

    
/* hero section */
.hero-container {
    max-width: 90%;
    margin: 0 auto;
}

    .hero-img {
        padding-bottom: 2rem;
    }
        .hero-img > img {
            border-radius: 1rem;
        }

    .hero-content-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 80%;
    }
        .welcome {
            font-size: var(--fs-600);
        }
        .content-description {
            font-size: var(--fs-300);
        }
    
    .hero-trailer {
        display: flex;
        align-items: center;
        gap: .25rem;
        padding-top: 2rem;
        font-size: var(--fs-500);
        text-decoration: underline;
    }
        .arrow {
            max-width: 70%;
        }

/* characters section */
.characters-section {
    padding-top: 2rem;
    max-width: 90%;
    margin: 0 auto;
}
    .characters-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding-top: 2rem;
    }
    .characters-text > div:nth-child(1) {
        font-size: var(--fs-900);
    }

    .characters-img-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: 1rem;
    }
        .characters-img {
            max-width: 80%;
            border-radius: 1rem;
        }


/* gallery section */
.gallery-section {
    padding-top: 2rem;
    max-width: 90%;
    margin: 0 auto;
}
    .gallery-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 2rem;
    }
    .gallery-text > div:nth-child(1) {
        font-size: var(--fs-900);
    }

    .gallery-img-wrapper {
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;
    }
        .gallery-img {
            max-width: 80%;
            border-radius: 1rem;
        }



.hr {
    border-top: 1px solid black;
    max-width: 90%;
    margin: 0 auto;
}       
.content-number {
    margin-bottom: -2rem;
}
* {
    /* outline: 1px solid red; */
}